<!-- 
    when user not loggedin

    -- shows Get started button
    -- login button
    -- Home
    -- search
    
 -->
<head>
   <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="container">
        <header class = 'header'>
            <nav id ='nav' class ='navbar'>
                <span class="logo">LOGO</span>
                <ul class ='menu'>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Write</a></li>
                </ul>
            <a href="" class = 'get-started'><button type ='button'>Get started</button></a> 
            </nav>
    </header>
        
        <!-- hero section -->
       <div class="hero-box">
        <div class ='hero-text'>
        <h1 class="hero-heading">Stay Curious</h1>
        <p class="hero-desc">
            Explore, Connect, Express 
        </p>
        <div class="btn-box">
            <a href="#"><button type ='button'>Start Reading</button></a>

        </div>
    </div>
    <div class="hero-image">
        <img src="" alt="Hero IMage here">
    </div>
       </div>



    </div>
<script src = 'nav.js'></script>
 </body>
 </html>


 