<!-- 
    when user not loggedin

    -- shows Get started button
    -- login button
    -- Home
    -- search

    log out button when user log's in
    
 -->
<head>
   <link rel="stylesheet" href="./style.css">
    
</head>
<body>
    
    
            
            <nav  class ='navbar' >
                <span class="logo">BlogSpace</span>
                <ul class ='menu'>
                    <li><a href="http://localhost/blogWebsite/controller/dashboard.php" class ='ax'>Home</a></li>
                    <li><a class ='' href="#about">About</a></li>
                    <li><a class ='ax' href="http://localhost/blogWebsite/controller/login.php" >Login</a></li>
                    <!-- <li><a class ='ax' href="http://localhost/blogWebsite/controller/blog.php">Write</a></li> -->
                </ul>
            <a href="http://localhost/blogWebsite/controller/signup.php" class = 'get-started'><button type ='button'>Get started</button></a> 
            </nav>
 
        
     


  
<script src = 'nav.js'></script>
 </body>
 </html>