
        
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

      *{
          margin:0;
          padding:0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
      }
      
      /* .container{
              width: 100%;
              min-height: 805px;
             
          } */
        

      .navbar{

        
          display:flex;
          position:sticky;
          top:0;
          width:100%;
          align-items: center;
          gap: 3rem;
          padding:20px 60px;
          border-bottom: 1px solid black;
          transition:background-color 0.5s ease-in-out;
          background-color: white;
          
      }
     
   
      .menu{
          display:flex;
          gap:3rem;
          height:100%;
          
      }
      .menu li{
          flex:1;
          list-style: none;
          height:100%;
         
      }
      li a{
          text-decoration:none;
          color: black;
          height:100%;
          
      }
      li>a:hover{
          /* color:cadetblue; */
            /* text-decoration: underline; */
            color:rgb(136, 136, 136);
            text-decoration: underline;
            
         
      }
      .logo{
          flex-basis: 60%;
      }
      .navbar button{
          width:110px;
          padding:12px;
          border-radius: 18px;
          border:none;
          background-color:black;
          color:white;
          
      }
      .navbar button:hover{
          background-color: rgb(161, 158, 158);
      }
      .navbar button:active{
          background-color: black;
      }

   
     
 